# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# C extensions
*.c
*.cpp

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
*.wheel

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# Django migrations
**/migrations/*.py
**/migrations/*.pyc
!**/migrations/__init__.py

# Pytest cache
.pytest_cache/

# Coverage
.coverage
*.cover
coverage.xml
htmlcov/
*.lcov

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Others
*.swp
*~
.DS_Store
Thumbs.db
