{% extends 'book/base.html' %}

{% load static %}

{% block title %}Home - Book Fair{% endblock %}

{% block content %}
<main>
  <div class="container text-center mt-5">
    <h2>Welcome To The Ultimate Book Fair!</h2>
    <p>Select The City You Want To Explore</p>
  </div>

  <!-- Start of Grid System (dynamic content) -->
  <div class="container">
    <div class="row row-cols-1 row-cols-md-5 g-4 d-flex justify-content-center">
      {% for city in cities %}
      <a href="{% url 'stall_details' %}">
        <div class="col ">
          <div class="city d-flex flex-column justify-content-center align-items-center">
            <img src="{% static 'book/images/'|add:city.image %}" alt="{{ city.name }}"
              style="width: 100px; height: 100px;">
            <p>{{ city.name }}</p>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
  <!-- End of Grid System -->
</main>
{% endblock %}